<h2> Person List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> First Name</th>
            <th> Last Name </th>
            <th> Suffix </th>
            <th> SSN </th>
            <th> Email Id</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let person of persons" >
            <td> {{ person.firstName }} </td>
            <td> {{ person.lastName }} </td>
            <td> {{ person.suffix }} </td>
            <td> {{ person.ssn }} </td>
            <td> {{ person.emailId }} </td>
            <td>
                <button (click) = "updatePerson(person.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deletePerson(person.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "personDetails(person.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
